* {
    box-sizing: border-box;
}
body {
    margin: 30px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 15px;
}



/*Navigation bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 240, 240);  
}
#logohome {
    width: 70px;
    margin: 15% 0 15% 50%;
}
nav ul {
    display: flex;
    list-style: none;
    
}
nav ul li a {    
    color: rgb(55, 96, 99);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 8px;   
}
nav ul li a:hover {
    color: rgb(84, 207, 84);
    background-color: rgb(224, 221, 221);
}
#searchbutton {
    padding: 3px 25px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(88, 194, 67);
    border-radius: 20px;
}
#form1 {
    margin-right: 4%;
}



h1 {
    font-size: 45px;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 35px;
}
.red-color {
    color: red;
}
.top-banner {
    background-image: url(images/bg-topbanner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}
.link-button {
    color: white;
    background-image: linear-gradient(rgb(255, 145, 0),seagreen);
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 2%;
}
.flexible-container {
    display: flex;
    align-items: center;
}
.half-width {
    width: 40%;
    margin: 5%;
}
.middle-banner {    
    background-image: url(images/bg-middlebanner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}
#recipetext {
    text-align: center;
    padding: 0 30%;
    margin-top: 5%;
}
.flexible-recipies {
    display: flex;
    justify-content: center;
    width: 100%;
}
.third-width {
    width: 23%;
    margin-top: 3%;
    margin-left: 1%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;   
}
.third-width:hover {
    background-color: rgb(221, 219, 214);
    cursor: pointer;
}
.recipies-img {
    text-align: center;
    width: 85%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
#subscribe-button {
    padding: 4px 25px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(88, 194, 67);
    border-radius: 20px;
}
#subscribe-area {
    margin: 4% 15%;
    padding: 1%;
    box-shadow: 0 0 20px gray;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
}



/*footer*/
footer {
    background-color: rgb(173, 205, 207);
    text-align: center;
    padding: 25px;
}
#green-color {
    color:rgb(2, 77, 2)
}